@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #191c1d;
  background: #f8f9fa;
  font-family: "PingFang SC", "Public Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f8f9fa;
}

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
